:root {
  --main-gold     : #894E00;
  --main-white    : #fff;
  --main-white-1  : #EFECEC;
  --main-white-2  : #BCB9B9;
  --main-dark     : #2C2929;
  --main-dark-1   : #646161;
  --main-dark-2   : #908E8E;
  --main-primary  : #e6750a;
  --main-primary-1: #FFB658;
  --main-primary-2: #894E00;
  --main-primary-3: #ffb65811;
  --main-secondary: #0D1575;
  --main-secondary-1: #6168BE;
  --main-secondary-2: #0D1575;
  --main-secondary-3: #0D157511;

  /*--main-gold     : #fac737;
  --main-white    : #ddd;
  --main-primary  : #353F87;
  --main-primary-1: #7981BA;
  --main-primary-2: #4F599D;
  --main-primary-3: #212A71;
  --main-primary-4: #0E1655;*/
}

.color-dark { color: var(--main-dark) !important;}
.color-white { color: var(--main-white) !important;}
.color-white-1 { color: var(--main-white-1) !important;}
.color-primary { color: var(--main-primary) !important;}
.color-primary-1 { color: var(--main-primary-1) !important; }
.color-primary-2 { color: var(--main-primary-2) !important;}
.color-secondary { color: var(--main-secondary) !important;}
.color-secondary-1 { color: var(--main-secondary-1) !important;}
.color-secondary-2 { color: var(--main-secondary-2) !important;}

.bg-white   { background-color: var(--main-white) !important;}
.bg-primary   { background-color: var(--main-primary) !important;}
.bg-primary-1   { background-color: var(--main-primary-1) !important;}
.bg-primary-2   { background-color: var(--main-primary-2) !important;}
.bg-secondary   { background-color: var(--main-secondary) !important;}
.bg-secondary-1   { background-color: var(--main-secondary-1) !important;}
.bg-secondary-2   { background-color: var(--main-secondary-2) !important;}

@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

body{
  background:  var(--main-white);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-secondary);
}

/*Navbar styling*/
#navbar-top{
  background: var(--main-primary);
  font-size: 20px;
  padding: 0px 5px;
  height: 4.5em;
}

.poppins{
  font-family: 'Poppins' !important;
}

.fw6{
  font-weight: 600 !important;
}
.fw8{
  font-weight: 800 !important;
}

.navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-light .navbar-nav .nav-link{
  color: var(--main-secondary-2);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus {
  color: var(--main-white) !important;
}

#navbar-bottom{
  background-color: #fafafa;
  padding: 0em 2em;
}

.nav-link-bottom{
  color : #00000055;
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
}

.nav-link-bottom.active{
  color : #353a78;
  font-family: Roboto, sans-serif;
  font-weight: 900;
}

.gbkp-header{
  font-size: 2em;letter-spacing:0.2em;
  font-family: Montserrat;
  font-weight: 600;
}

.gbkp-subheader{
  font-size: 0.7em;margin-top: -1em;
}
/*End Navbar styling*/


/*CUSTOM*/
body{
  max-width: 100% !important;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}
.error{
  text-transform: inherit !important;
  color: #f00;
}

a {
	color: var(--main-primary-2);
  font-weight: 900;
}

.banner-desktop{
  max-height: 550px !important;
  min-height: 550px !important;
  min-width: 100% !important;
}

.banner-mobile{
  max-height: 375px !important;
  min-height: 375px !important;
}


.content-kebaktian{
  /*background: linear-gradient(90deg, rgba(239,236,236,1) 44%, rgba(255,255,255,1) 93%);*/
}

.content-kebaktian-title{
  color: var(--main-white-1);
  font-size: 1.5em;
}

.content-kebaktian-subtitle{
  color: var(--main-dark-1);
  font-weight:600;
  margin-top: -18px;
}

.title-kebaktian, .sub-title-kebaktian, .sub-title-berita, .title-berita{
  font-family: Poppins;
  font-size: 1.25em;
}

.title-kebaktian{
  font-weight: 600;
  font-size: 2em;
  color: var(--main-primary);
}
.sub-title-kebaktian{
  margin-top: -15px;
  padding-left: 2px;
  letter-spacing: 0.07em;
  color: var(--main-secondary);
}

.content-kebaktian-title{
  margin-bottom: -2px;
}

.sub-content-kebaktian{
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 10px;
}

.card-berita{
    border: 2px solid var(--main-secondary-3) !important;
    border-radius: 10px;
}

.card {
  border : 1px solid var(--main-secondary-3);
  background-color: inherit !important; 
}

.card-body-berita{
  background-color: var(--main-white) !important;
  color: black;
  font-family: Roboto;
  max-height: 300px;
  min-height: 300px;
}

.content-berita-value{
  max-height: 220px;
  min-height: 220px;
  overflow-y: scroll;
}

.card-body-berita::-webkit-scrollbar {
  display: none !important;
}

.card-body-contact{
  background-color: var(--main-white) !important;
  color: var(--main-secondary-2) !important;
  font-family: Roboto;
}

.card-body-contact a{
  color: var(--main-secondary-2) !important;
}

.content-berita-title{
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.1em;
  color: var(--main-dark) !important;
}

.content-berita-date{
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.7em;
  color: var(--main-dark-2);
}

.card-header{
  background-color: var(--main-secondary-2) !important;
  color : var(--main-white); 
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.card-footer{
  background: #0000;
  border : 0px;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.border{
  border:1px solid  var(--main-primary-2) !important;
  border-radius: 10px;
}

.border2{
  border:1px solid  var(--main-secondary-2) !important;
  border-radius: 10px;
}

.card-body{
  border-radius: 10px;
}

.btn-primary {
    color: var(--main-secondary-2);
    font-weight: 800;
    background-color: #0000;
    border-color: #0000;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--main-primary);
    border-color: var(--main-primary-1);
}

.loader-page{
	min-height: 100%;
    width: 100%;
    background: #45498a;
    position: absolute;
    display: block;
    z-index: 9999;
    text-align: center;
}

.loader-page > img{
	height: 1em;
    width: 5em;
    top: 45%;
    left: 48%;
    position: absolute;
}

.loader-page-text{
	height: 2em;
    top: 49%;
    left: 47%;
    position: absolute;
    font-weight: 700;
}

.hidden{
	display: none !important;
}

.app-body{
  margin-top: 5.6em;
}

#kategorial{
  background-color: var(--main-secondary-3);
}


#berita{
  padding-top: 20px;
  padding-bottom: 10px;
}

.img-berita{
  border : 2px solid var(--main-secondary-2);
}

.title-berita{
  margin-bottom: 10px;
  margin-top: 10px;
}

.sub-title-berita{
  letter-spacing: 0.07em;
  color: var(--main-primary);
}

.title-kategorial, .title-berita, .title-chart {
    font-size: 2em;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: var(--main-secondary);
    margin-bottom: -5px;
}


.title-contact{
  font-size: 1.2em;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: var(--main-white);
  background-color: var(--main-primary) !important;
}


.title-footer{
  font-size: 0.8em;
  font-weight: 800;
  font-family: Raleway, sans-serif;
  color: var(--main-white);
}


.footer{
  background-color: var(--main-primary);
}

@media screen and (max-width: 580px) {
  .card-body-berita{
    max-height: 400px;
    min-height: 400px;
  }

  .content-berita-value{
    max-height: 80px;
    min-height: 80px;
    overflow-y: scroll;
    padding-left: 0px !important;
    padding-top: 0.5rem !important
  }

  .iframeibadah{
    padding-left: 2em !important;
  }

	.loader-page > img{
		left: 40%;
	}
	.loader-page-text{
		left: 36%;
	}

  .iframeibadah , .container-button-ibadah{
    padding-right: 2em !important;
  }

  .carousel-caption-top{
    top:0%;height: 31%;
  }

}